html {
    scroll-behavior: smooth;
  }

body {
  font-family: "Roboto", sans-serif;
}

.prenav {
  background-image: url("../img/prenav.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 8px black;
}

.navbar{
    border-bottom: 4px solid #cfb53b;
}

.navbar .nav-link {
  font-size: 1.3rem;
  font-weight: 600;
  color: #cfb53b;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 900;
  color: #cfb53b;
}

.navbar-brand:hover{
    color: #cfb53b;
}

.nav-link {
  color: #666;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}
.nav-link:after {
  display: block;
  content: "";
  border-bottom: solid 3px #cfb53b;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav-link.fromLeft:after {
  transform-origin: 100% 50%;
}
.nav-link.fromLeft:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

/* nav a:hover {
  border-bottom: 2px solid #cfb53b;
} */

h1 {
  border-bottom: 4px solid #cfb53b;
}

.carousel-item {
  height: 100%;
}
.carousel-item img {
  height: 100%;
}

.carousel-indicators li {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #cfb53b;
}



.info-one-h1 {
  font-weight: 600;
  color: #cfb53b;
}

.parallax {
  background-image: linear-gradient(
      to bottom,
      rgba(55, 56, 58, 0.52),
      rgba(44, 41, 43, 0.73)
    ),
    url("../img/car-2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
    background-image: linear-gradient(
        to bottom,
        rgba(55, 56, 58, 0.52),
        rgba(44, 41, 43, 0.73)
      ),
      url("../img/img-back-2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.p-header{
    font-weight: bold;
    color: #cfb53b;
}

.img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }

  footer{
      background: black;
  }

  footer a {
    color: #0060B6;
    text-decoration: none;
}

footer a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

.btn-golden{
    background-color: #cfb53b;
}

section:before {
    height: 70px;
    content: "";
    display:block;
}